# Network Configuration
VITE_NETWORK=testnet # can be localnet, devnet, testnet, mainnet

# Move Package IDs
VITE_PACKAGE_ID=0x_YOUR_PACKAGE_ID_HERE

# Shared Object IDs (e.g., ContestantRegistry)
VITE_REGISTRY_ID=0x_YOUR_REGISTRY_ID_HERE

# Custom Coin Treasury Cap (for Sponsor to distribute rewards if needed)
VITE_REWARD_TREASURY_CAP_ID=0x_YOUR_TREASURY_CAP_ID_HERE
